html {
    background-color: lightslategrey;
}
body {
    margin: auto;
    max-width: 500px;
    padding-bottom: 0.1px; /*knep för div margin */
	background-color: azure;
	font-family:sans-serif;
}
h1 {
	color: purple;
	text-align: center;
}
div {
	border-width: 1px;
	border-style: solid;
	border-color: purple;
	border-radius: 5px;
	margin: 1em; /*Här lade jag till en extra marginal för alla divvar */
}
#billy {
	color: darkred;
}
#bob {
	color: darkgreen;
}
.two {
	font-size: larger;
}
.two + p {
	font-size: smaller;
}
.two + p + p {
	font-weight: bolder;
}
#bob >.two + p + p {
	text-align: justify;
}
#bob a {
	text-decoration: line-through;
}
#bob > .two > a {
	text-decoration: underline overline;
	text-decoration-color: orange;
	text-decoration-style: double;
}
